page-login {

      .scroll-content {
            margin-top: 0 !important;
      }

      .toolbar-md-primary .toolbar-background-md,
      .toolbar-ios-primary .toolbar-background-ios {
            background: transparent !important;
      }

      ion-content {
            background: #396afc !important;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2948ff, #396afc) !important;  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2948ff, #396afc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      ion-grid {
            height: 100%;
            justify-content: center;
      }

      .button-ios {
            padding: 2em !important;
      }

      a {
            font-size: 2.1vh;
            color: white !important;
            text-decoration: none !important;
      }

      p {
            color: white !important;
            font-size: 2.1vh;
      }

}
