page-home {

	.item > ion-icon, .item-inner > ion-icon {
		color: #000;
		margin-left: 2.2% !important;
	}

	.pay-button {
		margin-left: 5px !important;
		margin-right: 5px !important;
		margin-bottom: 5px;
		width: 46%;
	}

	.vertical-align {
        margin: 0 auto;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
	}
	
	.custom-card {
		border-radius: 10px;
		box-shadow: 3px 3px 30px -10px rgba(0, 0, 0, 0.3);
	}

    .h-100 {
        height: 100%;
    }

	.item-inner {
		border: none !important;
	}

	.load-more {
		text-align: center;
		color: #488aff;
		left: 30%;
		border: none;
		text-transform: initial;

		ion-icon {
			color: #488aff;
		}
	}

	ion-slides {
		height: 30%;
		
		.swiper-wrapper {
			height: 80%;
		}
	}

	button {
		ion-spinner {
			left: 28px !important;
		}
	}

	.pay-card-1 {
		border-radius: 20px;
		text-align: center;
		padding: 20px;
		background: #5f2c82;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.pay-card-2 {
		border-radius: 20px;
		text-align: center;
		padding: 20px;
		background: #5f2c82;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.pay-card-3 {
		box-shadow: 3px 3px 23px -2px rgba(0,0,0,0.3);
		border-radius: 20px;
		text-align: center;
		padding: 20px;
		background: #5f2c82;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.pay-card-4 {
		box-shadow: 3px 3px 23px -2px rgba(0,0,0,0.3);
		border-radius: 20px;
		text-align: center;
		padding: 20px;
		background: #5f2c82;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.card-title {
		color: white;
		font-weight: bolder;
		opacity: .9;
	}	

	.pay-card-2  {
		.card-title {
			color: white;
			font-weight: bolder;
			opacity: .9;
				.request {
					font-size: 13px;
				}
		}
	}
	ion-icon {
		opacity: .7 !important;
		font-size: 3em;
		color: white;
		font-weight: normal !important;

	}

	.grid, .row .col, .toolbar {
		padding: 0px !important;
	}

	.scroll-contet {
		padding: 5px 10px;
	}

	.container {
		margin: 0px;
		width: 100%;
		padding: .5em;
		box-shadow: none;
		border-bottom: 1px solid #e9e9e9;
	}

	.content {
		background: #f1f1f1;
	}

	.transfer-card {
		border-radius: 10px;
		box-shadow: 3px 3px 30px -10px rgba(0, 0, 0, 0.3);
	}

	.pay-card {
		border-radius: 10px;
		box-shadow: 3px 3px 30px -10px rgba(0, 0, 0, 0.3);
	}

	.toolbar {
		.item {
			background-color: #488aff;
			color: #fff;

				h2, p {
					color: #fff;
					font-weight: bold;
				}
		}

		.custom-item {
			background-color: blue;
		}
	}

	.outgoing {
		color: red;
		font-weight: bolder;
	}

	.incoming {
		color: green;
		font-weight: bolder;		
	}
}

