<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div *ngIf="isLoggedIn == true">
        <ion-card class="avatar-card">
          <ion-card-content>
            <ion-item>
                <ion-avatar class="vertical-align">
                    <img src="https://img.busy.org/@{{profile?.name}}" alt="">
                  </ion-avatar>
            </ion-item>
          </ion-card-content>
        </ion-card>
    </div>

<ion-card class="options-card" *ngIf="isLoggedIn == true">
    <ion-list>

        <ion-item>
            <ion-icon name="ios-at"></ion-icon>
            <a href="mailto:hsynterkr@gmail.com">Contact</a>
        </ion-item>
  
        <ion-item>
            <ion-icon name="paper-plane"></ion-icon>
           <a href="http://steemit.com/@hsynterkr">Feedback</a>
        </ion-item>
  
      </ion-list>
</ion-card>

  <div *ngIf="isLoggedIn == false" class="vertical-align h-100">
      <ion-card id="not-logged" class="card custom-card">
        <ion-card-content>
          <p text-center> You need to log in to see this page</p>
          <button ion-button block mode="ios" (click)="openPage('LoginPage')">Login Now!</button>
        </ion-card-content>
      </ion-card>
  </div>

</ion-content>
